* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: rgb(248, 248, 248);
}

.grid-container {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2 1fr);
    margin: 0 auto;

}

.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px 10px;

}

.product {
    max-width: 100%;
    height: auto;
}

.brand-container {
    display: flex;
    justify-content: space-between;
}

p {
    color: black;
    line-height: 30px;
    margin-left: 14px;
}


.prices,.brand-name{
    font-weight: bold;
}

@media (max-width: 1200px) {
    .grid-container {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 1fr);
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    .grid-container {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}
